#about {
  height: calc(100vh - 64px);
  background-color: $light-pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px 80px;
  h2 {
    display: inline;
  }
  h5 {
    color: $tart-orange;
    margin-top: 16px;
  }
  a {
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
  }
  .black {
    color: $raisin-black !important;
  }
}

.about {
  &-left {
    width: 40%;
  }

  &-right {
    width: 45%;
  }
  &-align {
    display: flex;
    align-items: center;
  }
}

.tech-stack {
  width: 70px;
  filter: drop-shadow(2px 2px 0.8px rgba(0, 0, 0, 0.2));
  padding: 4px 8px;
}

.figma {
  width: 74px;
}

.nav-pills .nav-link.active {
  background-color: $tart-orange;
  color: white;
}
.nav-item {
  a {
    color: $tart-orange;
    border: solid 1px $tart-orange;
    border-radius: 24px !important;
    margin: 8px;
    padding-top: 12px;
  }
}

.typing {
  position: relative;
  display: inline;
}

.typing::after {
  display: inline;
  content: " ";
  position: absolute;
  right: -4px;
  width: 1px;
  height: 80%;
  border-right: 2px solid $onyx;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
  transform: translateX(20%);
  transition: transform 500ms ease-in;
}

.slide-in.appear {
  opacity: 1;
  transform: translateX(0);
}
