#contact {
  height: calc(100vh - 64px);
  display: flex;
}
.contact {
  &-left {
    background-color: $tart-orange;
    width: 35%;
  }
  &-right {
    background-color: $light-pink;
    width: 65%;
  }

  &-align {
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h3 {
    font-family: lato;
  }
}
.email-box {
  padding: 120px;
}
#email {
  width: 240px;
  border: solid 2px white;
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
  font-family: $body;
  border-radius: 2px;
}
#message {
  width: 460px;
  height: 100px;
  border: solid 2px white;
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
  font-family: $body;
  border-radius: 2px;
}
.submit-btn {
  color: white;
  border: none;
  background-color: $tart-orange;
  padding: 6px 8px 2px 8px;
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
  font-family: $body;
  border-radius: 2px;
  &:hover {
    background-color: #ed4444;
    transition: 500ms;
  }
}
