// wrappers
.main-wrapper {
  padding: 32px;
  max-height: 100vh;
  position: relative;
}
.social-icons {
  position: absolute;
  top: 40%;
  right: 8px;
  align-items: center;
  ul {
    list-style-type: none;
    i {
      width: 16px;
      text-align: center;
    }
  }
}
.content-wrapper {
  background-color: $mint;
  position: relative;
  overflow-y: scroll;
  max-height: calc(100vh - 64px);
}
.menu-icon {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 999;
  width: 40px;
  padding: 10px;
  cursor: pointer;
}
.menu-icon-line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: $onyx;
  margin-bottom: 4px;
  border-radius: 2px;
}
// sections
.header {
  min-height: calc(100vh - 64px);
  align-items: center;
  h1 {
    font-size: 88px;
    font-family: $header;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 34px 0 34px 0;
  }
  .header-left {
    background-color: $mint;
    height: 100%;
    width: 50%;
  }
  .header-right {
    background-color: $tart-orange;
    min-height: 100%;
    width: 50%;
    height: 100%;
  }
}
