//fonts
h2,
h3,
h5 {
  font-family: $cuprum;
}
p {
  font-family: $body;
  line-height: 1.8rem;
}
a {
  font-family: $body;
}

// wrappers
.main-wrapper {
  margin: 32px;
  max-height: 100vh;
  position: relative;
}
#social-icons {
  position: absolute;
  top: 37%;
  right: -24px;
  align-items: center;
  ul {
    list-style-type: none;
    text-decoration: none;
    i {
      width: 16px;
      text-align: center;
      color: $raisin-black;
      transition: 500ms;
      &:hover {
        transform: rotate(30deg);
        color: $tart-orange;
      }
    }
  }
}
#footer {
  position: absolute;
  bottom: -26px;
  right: 0px;
  p {
    margin: 0;
    color: $onyx;
    font-size: lighter;
    font-size: 13px;
  }
}
.content-wrapper {
  background-color: $tart-orange;
  position: relative;
  overflow-y: scroll;
  max-height: calc(100vh - 64px);
  scroll-behavior: smooth;
}

// media query
@media all and (min-width: 1024px) {
  #menu-icon {
    display: none;
  }
}
@media all and (min-width: 824px) and (max-width: 1023px) {
  #menu-icon {
    display: none;
  }
  .email-box {
    padding: 64px;
  }
  #message {
    width: 380px;
  }
}

@media all and (min-width: 768px) and (max-width: 823px) {
  #menu-icon {
    display: none;
  }
  .email-box {
    padding: 64px;
  }
  #message {
    width: 380px;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .email-box {
    padding: 64px;
  }
}

@media all and (max-width: 479px) {
  .email-box {
    padding: 64px;
  }
}
