// wrappers
.main-wrapper {
  padding: 32px;
  max-height: 100vh;
  position: relative;
}
.social-icons {
  position: absolute;
  top: 40%;
  right: 8px;
  align-items: center;
  ul {
    list-style-type: none;
    i {
      width: 16px;
      text-align: center;
    }
  }
}
.content-wrapper {
  position: relative;
  overflow-y: scroll;
  max-height: calc(100vh - 64px);
}
.menu-icon {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 999;
  width: 40px;
  padding: 10px;
  cursor: pointer;
}
.menu-icon-line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: $onyx;
  margin-bottom: 4px;
  border-radius: 2px;
}
// sections
.header {
  height: 100%;
  background-color: $tart-orange;
  h1 {
    text-align: center;
    font-size: 96px;
  }
}
