//fonts
h2 {
  font-family: $cuprum;
}

// wrappers
.main-wrapper {
  padding: 32px;
  max-height: 100vh;
  position: relative;
}
.social-icons {
  position: absolute;
  top: 40%;
  right: 8px;
  align-items: center;
  ul {
    list-style-type: none;
    text-decoration: none;
    i {
      width: 16px;
      text-align: center;
      color: $raisin-black;
      transition: 500ms;
      &:hover {
        transform: scale(1.2);
        transform: rotate(30deg);
        color: $tart-orange;
      }
    }
  }
}
.content-wrapper {
  background-color: $tart-orange;
  position: relative;
  overflow-y: scroll;
  max-height: calc(100vh - 64px);
  scroll-behavior: smooth;
}
.section-box {
  padding: 36px;
}
#about {
  height: calc(100vh - 64px);
  background-color: pink;
}
#projects {
  height: calc(100vh - 64px); // needs to be deleted later
  background-color: $mint;
}
#contact {
  height: calc(100vh - 64px);
  background-color: pink;
}
