#projects {
  background-color: $mint-cream;
}
.project-content {
  padding: 16px 0;
}
.project-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-info {
  width: 95%;
  h3 {
    font-family: $cuprum;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  .tech-icons {
    margin: 16px 0;
  }
  .tech-icon {
    width: 40px;
    filter: drop-shadow(0.3px 0.5px 0.3px rgba(0, 0, 0, 0.2));
  }
  .icon-adjustment {
    padding: 5px 4px;
  }
  .view-live-btn {
    padding: 8px 16px;
    margin: 4px 8px 4px 0;
    border: solid 1px $tart-orange;
    border-radius: 24px;
    text-align: center;
    color: $tart-orange;
    &:hover {
      transition: 700ms;
      transform: scale(1.05);
      color: $white;
      background-color: $tart-orange;
    }
  }
  .view-code-btn {
    margin: 8px 8px;
    border-bottom: solid 1px $tart-orange;
    text-align: center;
    color: $tart-orange;
    &:hover {
      color: $onyx;
      transition: 700ms;
      transform: scale(1.05);
      border: none;
    }
  }
}
.project-image {
  width: 95%;
  margin: 0 30px;
  box-shadow: 2px 2px 8px rgba(180, 180, 180, 0.8);
}
.project-img {
  border-radius: 2px;
}
.carousel-control-prev {
  position: absolute;
  left: -11%;
}
.carousel-control-next {
  position: absolute;
  right: -11%;
}
.divider {
  border-bottom: solid 1px rgba(200, 200, 200, 0.6);
  padding: 24px 0;
  margin-bottom: 48px;
}
.gap {
  padding: 16px;
}
