// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$mint: #e5f2e3;
$mint-cream: #f0f9ef;
$minty: #eaf2ef;
$light-pink: #ffd6dd;
$tart-orange: #fc4e4e;
$raisin-black: #202026;
$onyx: #3a3a3f;
