/*! Devices.css v0.1.16 | MIT License | github.com/picturepan2/devices.css */
.device-box {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 0 30px;
}
.device,
.device::before,
.device::after,
.device *,
.device *::before,
.device *::after {
  box-sizing: border-box;
  display: block;
}

.device {
  position: relative;
  transform: scale(1);
  z-index: 1;
}

.device .device-frame {
  z-index: 1;
}

.device-background-index {
  background-image: url("../images/liars-dice-index.png");
}

.device-background-show {
  background-image: url("../images/liars-dice-show.png");
}

.device .device-content {
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  position: relative;
}

.device-iphone-x {
  height: 434px;
  width: 214px;
}

.device-iphone-x .device-frame {
  background: #222;
  border-radius: 34px;
  box-shadow: inset 0 0 2px 2px #c8cacb, inset 0 0 0 7px #e2e3e4;
  height: 434px;
  padding: 14px;
  width: 214px;
}

.device-iphone-x .device-content {
  border-radius: 20px;
  height: 406px;
  width: 187.5px;
}

.device-iphone-x .device-stripe::after,
.device-iphone-x .device-stripe::before {
  border: solid rgba(51, 51, 51, 0.25);
  border-width: 0 7px;
  content: "";
  height: 3.5px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.device-iphone-x .device-stripe::after {
  top: 42.5px;
}

.device-iphone-x .device-stripe::before {
  bottom: 42.5px;
}

.device-iphone-x .device-btns {
  background: #c8cacb;
  height: 16px;
  left: -1.5px;
  position: absolute;
  top: 57.5px;
  width: 1.5px;
}

.device-iphone-x .device-btns::after,
.device-iphone-x .device-btns::before {
  background: #c8cacb;
  content: "";
  height: 31px;
  left: 0;
  position: absolute;
  width: 1.5px;
}

.device-iphone-x .device-btns::after {
  top: 30px;
}

.device-iphone-x .device-btns::before {
  top: 70px;
}

.device-iphone-x .device-power {
  background: #c8cacb;
  height: 50px;
  position: absolute;
  right: -2px;
  top: 100px;
  width: 2px;
}
