#menu-icon {
  z-index: 999;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

#menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $onyx;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#menu-icon span:nth-child(1) {
  top: 0px;
}

#menu-icon span:nth-child(2) {
  top: 6px;
}

#menu-icon span:nth-child(3) {
  top: 12px;
}

#menu-icon.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#menu-icon.open span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#menu {
  position: absolute;
  top: -32px;
  display: flex;
  margin-left: 6px;
  a {
    text-decoration: none;
    color: $raisin-black;
    &:hover {
      color: $tart-orange;
    }
  }
}
.menu-section {
  margin: 0;
  padding: 4px;
}
.menu-color {
  color: $tart-orange !important;
  font-weight: bold;
}
#top {
  display: none;
}
