<div class="main-wrapper">
  <div class="menu-icon">
    <span class="menu-icon-line"></span>
    <span class="menu-icon-line"></span>
    <span class="menu-icon-line"></span>
  </div>
  <div class="social-icons">
    <ul>
      <li><i class="fab fa-linkedin"></i></li>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="far fa-envelope"></i></li>
      <li><i class="far fa-file"></i></li>
    </ul>
  </div>
  <div class="content-wrapper">
    <div class="header">
      <br />
      <h1>H</h1>
      <h1>E</h1>
      <h1>L</h1>
      <h1>L</h1>
      <h1>O</h1>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
