<div class="main-wrapper">
  <div class="menu-icon">
    <span class="menu-icon-line"></span>
    <span class="menu-icon-line"></span>
    <span class="menu-icon-line"></span>
  </div>
  <div id="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="social-icons">
    <ul>
      <li><a href="https://www.linkedin.com/in/yupingkuei/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://github.com/yupingkuei" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.instagram.com/kueiillust" target="_blank"><i class="fab fa-instagram"></a></i></li>
      <li><a href = "mailto: kueiyuping@gmail.com"><i class="far fa-envelope"></i></a></li>
      <li><a href="/assets/images/CV - Yuping Kuei.pdf" download><i class="far fa-file"></i></a></li>
    </ul>
  </div>
  <div class="content-wrapper">
    <!--header-->
    <div class="header">
      <div class="header-left header-align">
        <h1>HELLO</h1>
      </div>
      <div class="header-right header-align">
        <h1>HELLO</h1>
      </div>
    </div>
    <!--about-->
    <div class="about">
      <div class="section-box">
        <h2>I'm Yuping.</h2>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
    <!--project-->
    <div class="project">
      <div class="section-box">
      </div>
    </div>
    <!--contact-->
    <div class="contact">
      <div class="section-box"></div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
