<div class="main-wrapper">
  <div id="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="menu">
    <a href="#about">
      <p class="menu-section">About</p>
    </a>
    <a href="#projects">
      <p class="menu-section">Projects</p>
    </a>
    <a href="#contact">
      <p class="menu-section">Contact</p>
    </a>
  </div>
  <div class="social-icons">
    <ul>
      <li><a href="https://www.linkedin.com/in/yupingkuei/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://github.com/yupingkuei" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.instagram.com/kueiillust" target="_blank"><i class="fab fa-instagram"></a></i></li>
      <li><a href = "mailto: kueiyuping@gmail.com"><i class="far fa-envelope"></i></a></li>
      <li><a href="/assets/images/CV - Yuping Kuei.pdf" download><i class="far fa-file"></i></a></li>
    </ul>
  </div>
  <div class="content-wrapper">
    <!--header-->
    <div class="header">
      <div class="header-left header-align">
        <h1>HELLO</h1>
      </div>
      <div class="header-right header-align">
        <div class="temp-intro">
          <h2 class='text-white'>Under construction.</h2>
          <p>Hi, I'm <span class="text-white">Yuping</span>. A <span class="text-white">Full Stack developer</span>. 
            <br/>
            I’m currently designing yupingkuei.com and updating my projects.
            <br/>
            If you would like to see a my work or are interested in starting a project together, please get in touch. <span class="text-white">Contact me via 👉🏻</span></p>
        </div>
      </div>
    </div>
    <!--about-->
    <div id="about">
      <div class="section-box">
        <h2>About</h2>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
    <!--project-->
    <div id="projects">
      <div class="section-box">
        <h2>Projects</h2>
      </div>
    </div>
    <!--contact-->
    <div id="contact">
      <div class="section-box">
        <h2>Contact</h2>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
</div>
